<!DOCTYPE html>
<html ng-app='app'>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hemma Health</title>

	<link rel="stylesheet" href="./site/shared_libraries/bootstrap-3.3.4-dist/css/bootstrap.css">
	<link rel="stylesheet" href="./site/shared_libraries/font-awesome-4.3.0 2/css/font-awesome.css">
	<link rel="stylesheet" href="./site/components/navbar/navbar.css">
	<link rel="stylesheet" href="./site/pages/home/home.css">
	<link rel="stylesheet" href="./site/components/modal/modal.css">

	<script type="text/javascript" src="./site/shared_libraries/angular-1.5.0/angular.min.js"></script>
	<script type="text/javascript" src="./site/shared_libraries/angular-1.5.0/angular-route.min.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>

	<!-- components -->
	<script type="text/javascript" src="./site/components/navbar/navbar.js"></script>
	<script type="text/javascript" src="./site/components/footer/footer.js"></script>
	<script type="text/javascript" src="./site/components/modal/modal.js"></script>

	<!-- pages -->
	<script type="text/javascript" src="./site/pages/home/home.js"></script>
	<script type="text/javascript" src="./site/pages/contact/contact.js"></script>
	<script type="text/javascript" src="./site/pages/services/services.js"></script>
	<script type="text/javascript" src="./site/pages/resources/resources.js"></script>

	<script type="text/javascript" src="./hemma.js"></script>
	<script type="text/javascript">
		var injector; 
		function getInjector(){
			if (injector){
				return injector.get('recaptcha')
			}
			injector = angular.element([document.querySelector('[ng-app]')]).injector();
			return injector.get('recaptcha')
		}

		function loadRecaptcha(){
			getInjector().callback('load')
		}

		function veriFailed(){
			getInjector().callback('reset')
		}
	</script>
</head>
<body>
	<div class="sidebar" 
		ng-class="(navbar.sidebarActive ? 'show-sidebar':'hide-sidebar')"
		ng-style="navbar.sidebarContent">

		<div class="sidebar-content" >
			<div class="list-group sidebar-list">

				<div class="sidebar-item" ng-repeat="item in navbar.menuItems" ng-click="navbar.changePage(item.value)">
					<i class="fa {{item.image}}"></i> &nbsp;{{item.label}}
				</div>

			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div navbar class="row"></div>
		<div ng-view ng-click="navbar.ngViewClick()" class="row"></div>
	</div>
</body>

</html>