.cycle-text-text-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    min-height: 2em;
    margin-top: 1em;
    text-align: center;
}

.cycle-text-text {
    font-size: 2em;
    font-weight: bolder;
    color: #607D8B;
    text-shadow: 0 0 3px #9E9E9E, 0 0 3px rgb(255, 255, 255);
}

@media only screen and (max-width: 768px) {
    .cycle-text-text-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .c
}