<div class="col-xs-12 col-md-10 col-md-offset-1 first-row homepage-row">
    <div class="opaque-background">
        <h1>We can help you with your challenges.</h1>
        <h3>We are experts in eClinicalWorks optimization.</h3>
        <h5>Proven experience for FQHCs, small, large or private practices</h5>
    </div>
</div>

<div class="col-xs-12 col-md-10 col-md-offset-1 second-row homepage-row">
    <div class="opaque-background">
        <h3 ng-click="goToPage('resources')">Ready to learn more? Go to our Resources.</h3>
    </div>
</div>

<div class="col-xs-12 col-md-10 col-md-offset-1 third-row homepage-row">
    <div class="opaque-background">
        <h3 ng-click="goToPage('contact-us')">Contact us for more information or schedule time with our trainer today.</h3>
    </div>
</div>
