<div class="col-xs-12 col-md-10 col-md-offset-1 first-row homepage-row">
    <div>
        <!--<h1>We can help you with your challenges.</h1>-->
        <div class="homepage-header"><span>Challenges Accepted!</span></div>
        <div class="sub-header-one"><span>We are experts in eClinicalWorks optimization and much more...</span></div>
        <div cycle-text></div>
        <div class="homepage-button-container text-center">
            <button class="btn btn-default btn-hemma" ng-click="goToPage('services')"><i class="fa fa-support"></i> How
                We Can Help
            </button>
        </div>
    </div>
</div>

<!--<div class="col-xs-12 col-md-10 col-md-offset-1 second-row homepage-row">-->
<!--<div class="opaque-background">-->
<!--<h3 ng-click="goToPage('resources')">Ready to learn more? Go to our Resources.</h3>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-xs-12 col-md-10 col-md-offset-1 third-row homepage-row">-->
<!--<div class="opaque-background">-->
<!--<h3 ng-click="goToPage('contact-us')">Contact us for more information or schedule time with our trainer today.</h3>-->
<!--</div>-->
<!--</div>-->
