html {
    height: 100%;
}

body{
	overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

h1 {
	font-size: 40px;
    color: #666666;
}

h3 {
    font-weight: lighter;
}

.title h1{
	font-size: 3.4em;
	color: #e62739;
	font-weight: 100;
    margin-top: 0px;
}

.title h3 {
	margin-top: 10px;
	color: white;
	font-weight: 100;
    cursor: pointer;
}

.title-heading{
    cursor: pointer;
}

.header-spacer{
	height: 10px;
}

.header-menu-button{
	cursor: pointer;
	color: darkgray;
}

.hide-sidebar{
	display: none;
}

.sidebar{
	border: solid 1px #555;
	background-color: #7E8688;
	padding-bottom: 2em;
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	z-index: 9999;
}

.homepage-row{
    margin-top: 1em;
    min-height: 400px;
}

.homepage-row h1{
    text-align: center;
    margin-top: 1em;
}

.homepage-row h3{
    text-align: center;
}

.list-group-item {
	border-color: #000000
}

.sidebar-list{
	margin-top: 1em;
	width: 100%;
}

.sidebar-item{
	font-size: 1.5em;
    font-weight: 100;
    color: white;
    cursor: pointer;
    width: 100%;
    padding-left: 1em;
    padding-top: .2em;
    padding-bottom: .3em;
    text-align: left;
    background-color: #9068be;
	border-top: #b7b4b4 1px solid;
    /*font-size: 2em;*/
}

.fixed-header{
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    z-index: 999;
    color: white;
	background-color: #e62739;
}

.fixed-header span{
    color: white
}

.fixed-header .header-menu-button{
    color: white;
}

.header{
	background-color: rgba(255, 255, 255, 0.9);
	height: 55px;
}

.footer {
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear:both;
	padding-top:20px;
}

.hamburger-icon{
    font-size: 2em;
    display: none;
}

.horizontal-menu{
	display: inherit;
}

.horizontal-menu-span{
    cursor: pointer;
    color: #666666;
    font-size: 1em;
    font-weight: lighter;
}

.horizontal-menu-item{
    margin-top: 1em;
    text-align: right;
}

.spacer{
    height: 1em;
}

.services-image{
    width: 100%;
    max-width: 400px;
    -webkit-filter: grayscale(50%); /* Chrome, Safari, Opera */
    filter: grayscale(50%);
}

.contact-form-image{
    background: url('../../../../images/contact-phone.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.resources-image {
    background: url('../../../../images/stack-of-books.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-image{
    background: url('../../../../images/landscape-animal-mountain-top.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.resources-container-child{
    margin-top: 1em;
}

.opaque-background{
    border-radius: .5em .5em;
    background: white;
    opacity: 0.7;
    padding: .5em;
}

.second-row{
    cursor: pointer;
}

.third-row{
    cursor: pointer;
}
/* Small devices (768px and down) */
@media only screen and (max-width: 768px) {
	.sidebar-item{
		font-size: 1.5em;
	}

	.col-xs-0, .col-sm-0{
		display: none;
	}

	.hamburger-icon{
		display: block
	}

	.horizontal-menu{
		display: none;
	}

    .title h1{
        margin-top: 10px;
        font-size: 2em;
    }

    .contact-form-container{
        background: url('../../../../images/contact-phone.jpg')no-repeat left center fixed;
        background-size: cover
    }

    .opaque-background{
        border-radius: .5em .5em;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .opaque-background{
        border-radius: .5em .5em;
    }
    .horizontal-menu-span{
        font-size: 1em;
    }
}

@media (min-width: 992px){
    .resources-container {
        position: absolute;
        height: auto;
        width: 100%;
        top: 50px;
        z-index: -99;
    }

    .whole-page-image{
        position: absolute;
        height: auto;
        width: 100%;
        top: 50px;
        z-index: -99;
    }
}