<div class="col-md-10 col-md-offset-1">
    <div class="row">
        <div class="col-md-12 service-page-title">
            <h1>We can help you, here's how</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="service-text">
                <div class="service-subtitle"><span>Certified eClinicalWorks Trainer and SuperUser</span></div>
                <div class="service-subtitle-subheading">Experience for FQHCs, small, large or private practices</div>
                <dl class="dl-horizontal service-list">
                    <dt>Conversion</dt>
                    <dd>Real world experience converting practices to eCW</dd>
                    <dt>Implementation</dt>
                    <dd>We can implement eCW EMR, PM, and Billing, along with modules like Scribe, Patient Education,
                        eRx, PHM, and Dental
                    </dd>
                    <dt>Go-Live</dt>
                    <dd>Program planning, project management, and timeline advice</dd>
                    <dt>Optimization</dt>
                    <dd>Instead of forcing you to adapt to the EMR workflow, we can customize the EMR to meet your
                        workflow requirements
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="../../images/person-woman-desk-laptop-small.jpg" class="img-rounded services-image"
                 alt="Super User" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 spacer"></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="service-text">
                <div class="service-subtitle"><span>eClinicalWorks Dental</span></div>
                <div class="service-subtitle-subheading">eCW Dental Module Implementation</div>
                <dl class="dl-horizontal service-list">
                    <dt>Experience</dt>
                    <dd>Four(4) eCW Dental Module implementations and counting!</dd>
                    <dt>Optimization</dt>
                    <dd>We can also assist with workflow tips and tricks after you've gone live</dd>
                </dl>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="../../images/dentist-chair-small.jpeg" class="img-rounded services-image" alt="Revenue Cycle"
                 width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 spacer"></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="service-text">
                <div class="service-subtitle"><span>Medical Claim Billing</span></div>
                <div class="service-subtitle-subheading">Long Term or Short Term</div>
                <dl class="dl-horizontal service-list">
                    <dt>Optimize</dt>
                    <dd>We will optimize your EMR to make billing easier and faster</dd>
                    <dt>Help</dt>
                    <dd>We can serve as your biller remotely on a long term, short term, or monthly basis.</dd>
                </dl>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="../../images/reciepts-computer.jpg" class="img-rounded services-image" alt="Revenue Cycle"
                 width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 spacer"></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="service-text">
                <div class="service-subtitle"><span>Revenue Cycle Management</span></div>
                <div class="service-subtitle-subheading">Keep Track Of Your Money</div>
                <dl class="dl-horizontal service-list">
                    <dt>Training</dt>
                    <dd>We offer training packages for front office staff, clinicians, and billing staff to optimize the
                        revenue cycle in your clinic
                    </dd>
                    <dt>Experience</dt>
                    <dd>Proven track record in reducing A/R, cleaning up policies and workflows, and increased
                        collections at the front desk.
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="../../images/working-at-table.jpg" class="img-rounded services-image" alt="Revenue Cycle"
                 width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 spacer"></div>
    </div>
    <div class="row">
        <div class="col-sm-6 " ng-click="servicesCtrl.openSubPage('lob-reports')">
            <div class="service-text service-text-hover pointer">
                <div class="service-subtitle"><span>Custom Mailers, Statements, and Letters</span></div>
                <div class="service-subtitle-subheading">Plus Many More Technological Abilities</div>
                <dl class="dl-horizontal service-list">
                    <dt>Customize</dt>
                    <dd>We offer completely customized patient statements and letters to include payment plan
                        information, self-pay terms or anything you need.
                    </dd>
                    <dt>Patient Statements</dt>
                    <dd>Tired of your patient statements? We can build completely custom statements just for you and we
                        will handle the mailing too.
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-sm-6 pointer" ng-click="servicesCtrl.openSubPage('lob-reports')">
            <img src="../../images/computer-code-small.jpg" class="img-rounded services-image service-img-hover"
                 alt="Revenue Cycle" width="100%">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 spacer"></div>
    </div>
</div>
